    <footer class="footer">
        <div class="footer-body">
            <!-- <div class="left-panel list-inline mb-0 p-0"></div> -->
            <div class="right-panel">
                &copy; 2023 <span class="text-primary">Integrated Statewide Scheme based cash book Management System</span>, All Rights Reserved.
            </div>
        </div>
    </footer>
</main>

<script src="assets/js/core/libs.min.js"></script>
<script src="assets/js/plugins/slider-tabs.js"></script>
<script src="assets/vendor/lodash/lodash.min.js"></script>
<script src="assets/js/iqonic-script/utility.min.js"></script>
<script src="assets/js/iqonic-script/setting.min.js"></script>
<script src="assets/js/setting-init.js"></script>
<script src="assets/js/core/external.min.js"></script>
<script src="assets/js/charts/widgetchartsf700.js?v=1.0.1" defer></script>
<script src="assets/js/charts/dashboardf700.js?v=1.0.1" defer></script>
<script src="assets/js/qompac-uif700.js?v=1.0.1" defer></script>
<script src="assets/js/sidebarf700.js?v=1.0.1" defer></script>