<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="flex flex-row h-full bg-white">
      <!-- left side start-->
      <div class="left w-1/2">
        <img src="./01.png" alt="" />
      </div>
      <!-- left side end-->

      <!-- right side start-->

      <div class="right w-1/2 flex flex-col gap-7 pt-10">
        <!-- upper part with logo and text start -->
        <div class="flex justify-center items-center flex-col">
          <img src="./odisha_logo_login.png" alt="" />
          <h2 class="text-blue-500 text-2xl">Cashbook Analytics System</h2>
          <h6>Statewide Integrated Scheme Based Cash Book Management System</h6>
        </div>
        <!-- upper part with logo and text end -->

        <!-- form start -->
        <div class="form flex-col flex items-center">
          <div class="pl-20 pr-20 pb-5 pt-5 shadow-2xl">
            <div class="flex flex-col justify-center items-center pb-3">
              <h2 class="text-3xl mb-2">Sign In</h2>
              <h5>Login to stay connected.</h5>
            </div>
            <form action="/cas/login" method="POST" novalidate class="flex flex-col gap-4">
              <div class="flex flex-col">
                <label class="pb-2" for="">User Type</label>
                <select
                  name="userType"
                  id="userType"
                  class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-80 rounded-md sm:text-sm focus:ring-1"
                >
                <% for( let desig of designation ) { %>
                    <option value="<%= desig.name %>" <%= designation.name === desig.name ? 'selected': '' %> ><%= desig.name %></option>
                <% } %>
                </select>
              </div>
              <div class="flex flex-col">
                <label class="block">
                  <span
                    class="after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                  >
                    Username
                  </span>
                  <input
                    type="text"
                    name="email"
                    class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                    placeholder="Enter username"
                  />
                </label>
              </div>
              <div class="flex flex-col">
                <label class="block">
                  <span
                    class="after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                  >
                    Password
                  </span>
                  <input
                    type="password"
                    name="password"
                    class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                    placeholder="Enter password"
                  />
                </label>
              </div>
              <div class="flex flex-row justify-between">
                <div>
                  <input type="checkbox" name="" id="" />
                  <label for="">Remember Me</label>
                </div>
                <div>
                  <a class="text-blue-500 hover:text-red-700" href="#"
                    >Forgot Password?</a
                  >
                </div>
              </div>
              <div class="flex justify-center items-center pt-5">
                  <button
                  class="bg-blue-500 px-4 py-2 text-white border-2 rounded-md hover:bg-blue-700"
                  >
                  Sign In
                </button>
            </div>
        </form>
          </div>
        </div>
        <!-- form end -->
      </div>

      <!-- right side end-->
    </div>
  </body>
</html>
